.html {
}
@media screen and (min-width: 1008px) {
  * {
    margin: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #head {
    background-color: lightgrey;
    color: black;
    height: 15%;
    margin-bottom: 10px;
  }

  #all_sections {
    display: flex;
    width: 100vw;
    height: 70%;
  }
  #front_part {
    width: 75vw;
  }
  #part1 {
    background-color: red;
    height: 50%;
  }
  #part2 {
    background-color: orange;
    height: 50%;
  }
  #aside_part {
    background-color: yellow;
    width: 25vw;
  }
  #foot {
    background-color: lightgrey;
    color: black;
    width: 100vw;
    height: 15%;
    margin-top: 10px;
  }
}

/*  Small (smaller than 640px)
    Medium (641px to 1007px)
    Large (1008px and larger)
    @media screen and (max-width: 640px)
    @media screen and (min-width: 641px) and (max-width: 1007px)
    @media screen and (min-width: 1007px) 
    */

@media screen and (min-width: 641px) and (max-width: 1007px) {
  * {
    margin: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #head {
    background-color: lightgrey;
    color: black;
    height: 10%;
    margin-bottom: 10px;
  }

  #all_sections {
    display: flex;
    width: 100vw;
    height: 80%;
  }
  #front_part {
    width: 50vw;
  }
  #part1 {
    background-color: red;
    height: 50%;
  }
  #part2 {
    background-color: orange;
    height: 50%;
  }
  #aside_part {
    background-color: yellow;
    width: 50vw;
  }
  #foot {
    background-color: lightgrey;
    color: black;
    width: 100vw;
    height: 10%;
    margin-top: 10px;
  }
}
/* screen size less than 640*/
@media screen and (max-width: 640px) {
  * {
    margin: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #head {
    background-color: lightgrey;
    color: black;
    height: 10%;
    margin-bottom: 10px;
  }

  #all_sections {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80%;
  }
  #front_part {
    height: 66%;
    background-color: blue;
  }
  #part1 {
    background-color: red;
    height: 50%;
  }
  #part2 {
    background-color: orange;
    height: 50%;
  }
  #aside_part {
    background-color: yellow;
    height: 33%;
  }
  #foot {
    background-color: lightgrey;
    color: black;
    width: 100vw;
    height: 10%;
    margin-top: 10px;
  }
}
