/*  Small (smaller than 640px)
    Medium (641px to 1007px)
    Large (1008px and larger)
*/
@media screen and (min-width: 1008px) {
  * {
    margin: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #head {
    background-color: lightgrey;
    color: black;
    height: 10%;
    margin-bottom: 2vh;
  }

  #all_sections {
    display: flex;
    width: 100vw;
    height: 76vh;
  }

  #part_a {
    background-color: lightgreen;
    height: 100%;
    width: 50%;
  }

  #part_b {
    background-color: green;
    height: 100%;
    width: 25%;
    order: -1;
  }
  #part_c {
    background-color: yellow;
    height: 100%;
    width: 25%;
  }
  #foot {
    background-color: lightgrey;
    color: black;
    width: 100vw;
    height: 10%;
    margin-top: 2vh;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  * {
    margin: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #head {
    background-color: lightgrey;
    color: black;
    height: 10%;
    margin-bottom: 2vh;
  }

  #all_sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 76vh;
  }

  #part_a {
    background-color: lightgreen;
    height: 50vh;
    width: 100%;
  }

  #part_b {
    background-color: green;
    height: 26vh;
    width: 50%;
  }

  #part_c {
    background-color: yellow;
    height: 26vh;
    width: 50%;
  }
  #foot {
    background-color: lightgrey;
    color: black;
    width: 100vw;
    height: 10%;
    margin-top: 2vh;
  }
}
/* screen size less than 640*/
@media screen and (max-width: 640px) {
  * {
    margin: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  #head {
    background-color: lightgrey;
    color: black;
    height: 10%;
    margin-bottom: 2vh;
  }

  #all_sections {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 76vh;
  }

  #part_a {
    background-color: lightgreen;
    height: 38vh;
  }

  #part_b {
    background-color: green;
    height: 19vh;
  }
  #part_c {
    background-color: yellow;
    height: 19vh;
  }
  #foot {
    background-color: lightgrey;
    color: black;
    width: 100vw;
    height: 10%;
    margin-top: 2vh;
  }
}
